.sidenav{
  background-image: url(./login.jpeg);
  background-repeat: no-repeat;
  background-size:60rem 105vh ;
  margin-left: -1%;
  margin-top: -2.5%;
  height: 105vh;
  width:50%;
  float: left;
}
.sidenav1{
  background-image: url(./forgot.jpeg);
  background-repeat: no-repeat;
  background-size:60rem 105vh ;
  margin-left: -1%;
  margin-top: -2.5%;
  height: 105vh;
  width:60rem;
  float: left;
}
.logo11{
  width: 100%;
  margin-left: 27%;
}
.logo12{
  padding-top: 15%;
  margin-left: 45%;
}
.form-group
{
  width: 100%;
  margin-top: 1%;
}
.label111{
  margin-left: 8%;
}
.form-control1{
  width:32%;
  padding-left: 1%;
  height: 2.1rem;
  margin-top: 0.5%;
  margin-left: 8%;
  border: 2px solid black;
  border-radius: 0.5rem;
}
.poi{

}
.forget-pass
{
  padding-top: 4%;
  margin-left: 8%;
  text-decoration: none;
}
.btn1 {
  margin-top: 1%;
  margin-left: 8%;
  width: 12rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #007bff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
