
.mainBody{
  margin:0;
  padding: 2% 0 0 4%;
  align-items: center;
  align-content: center;
  z-index: 0;
}
.userDisplay{
  float: left;
  height:20rem;
  border-radius: 1.2rem;
  width: 25rem;
  background: #fff;
  padding: 1%;
  z-index: 1;
}
.img{

  padding: 0%;
  display: block;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  height: 12em;
  border : 2px solid #023E8A;
  border-radius: 50%;
}
.table1{
  width:70%;
  margin-left: 15%;
  margin-top: 5%;
}
.Username{
  pointer-events: none;
  color: #023E8A;
  display: block;
  padding-top:2%;
  font-size: 1.5rem;
  margin-top: 0;
  text-align: center;
}
.UserEmail{
  pointer-events: none;
  color:#0077B6;
  display: block;
  font-size: 0.8rem;
  margin-top: 0;
  text-align: center;
}
.UserDetails{
  pointer-events: none;
  float: left;
  margin-left: 2%;
  height:20rem;
  border-radius:1.2rem;
  width: 66%;
  background: #fff;
  padding: 1%;
  z-index: 1;

}
.UserTimeline{
  pointer-events: none;
  margin-top:2%;
  display: inline-block;
  height:21rem;
  border-radius:1.2rem;
  width: 91.5%;
  background: #fff;
  padding: 1%;
  z-index: 1;

}
.Head-L
{
  margin-left: 20%;
  margin-top: 7%;
  color: #2088BF;
  font-size: 0.8rem;
  line-height: 5%;
}
.Content-L
{
  line-height: 5%;
  margin-left: 20%;
  color: #023E8A;
  font-size: 1.7rem;
}
.Underline-L
{
  margin-left: 20%;
  width:70%;
  margin-bottom: 5%;
}
.Head-R
{
  margin-left: 5%;
  color: #2088BF;
  margin-top: 7%;
  font-size: 0.8rem;
  line-height: 5%;
}
.Content-R
{
  line-height: 5%;
  margin-left: 5%;
  color: #023E8A;
  font-size: 1.7rem;
}
.Underline-R
{
  margin-left: 5%;
  width:70%;
  margin-bottom: 5%;
}
.Left{
  float: left;
  width:49%;
}
.Right
{
  float:left;
  width:49%;

}
.Events
{
  background-color: #ADE8F4;
  color:#023E8A;
  margin-left: 5%;
  width:20rem;
  height: 2rem;
  border:0px solid transparent;
  border-radius: 10px;
}
.Eventdiv
{
  margin-top: 1%;
  background-color: #E0F9FF;
  height: 17rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.Eventinfo
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width:80%;
  background-color: #fff;
  height:5rem;
  border-radius: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
  margin-top: 2%;
  align-items: center;
  width:90%;
  height:4rem;
  text-align: center;
  border-right: 1px solid black;
}
.grid-item1 {
  font-size: 0.8rem;
  background-color: #fff;
  height: 9rem;
  margin-top: 10%;
  padding-top: 15%;
  width:30rem;
  border-radius: 10px;
  text-align: center;
  pointer-events: all;
  z-index: 999999;
}
.grid-item1001 {
  font-size: 0.2rem;
  background-color: #fff;
  height: 5.5rem;
  margin-top: 10%;
  width:83%;
  border-radius: 10px;
  text-align: center;
  pointer-events:auto;
  z-index: 999999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.grid-item3 {
  font-size: 0.8rem;
  background-color: #fff;
  height: 2rem;
  margin-left: 70%;
  margin-right: auto;
  margin-top: 5%;
  align-items: center;
  width:70%;
  border-radius: 5px;
  text-align: center;
}
.grid-item2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  height: 4rem;
  margin-top: 5%;
  align-items: center;
  width:80%;
  border-radius: 10px;
  text-align: center;
}
.EventContent{
  color: #023E8A;
  display: block;
  text-align: right;
  padding-top:5%;
  font-size: 1rem;
  margin-top: 0;
  text-align: center;
}
.UserEmail2{
  text-align: right;
  color:#0077B6;
  display: block;
  font-size: 0.7rem;
  margin-top: -2%;
  text-align: center;
}

.Subject{
  font-size: 2rem;
  text-align: center;
  margin-top: 2%;
  margin-left: -3%;
  padding-right: 15%;
  color:#023E8A;
}

.Unit{
  color:#0077B6;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15%;
}
.form{
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    border-radius: 20px;
    background-color: #E5EAF0;
    width: 80%;
}
.upload{
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  height: 25vh;
  background-color: #CAF1F8;
  width: 80%;
}
.textbulkuser{
  margin-left: 10%;
}
.headbulkuser{
  padding-top: 2%;
  font-size: 1rem;
  margin-left: 5%;
}
.subbulkuser{
  line-height: 0.4rem;
  font-size: 0.8rem;
}
.titlebulkuser{
  text-align: left;
  font-size: 0.7rem;
  line-height: 0;
}
.inputbulkuser{
  border: 1px solid #aeaeae;
  margin-left: -15%;
  height:1.8rem;
  border-radius: 5px;
  width:80%;
  text-align: left;
}
.formsbutton{
  width:40%;
  margin-left: auto;
  margin-right: auto;
}
.vi{
  background-color: #F5FDFF;
  border: 1px solid #0177B7;
}
.sub{
  border:none;
  background-color: #0177B7;
  color:#fff;
  margin-top: 13%;
  margin-left: 80%;
}
.cf{
  border: none;
  background-color: transparent;
  color:#f00;
}
.cloudupload
{
  height: 2rem;
  background-color: #AEE8F4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color:#000C53;
}
.clouduploadtext{
  line-height: 0;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.clouduploadtext1
{
  text-align: center;
  margin-left: 0;
  color:#6C8995;
  margin-top:5%;
  font-size: 1.5rem;
}
.auploaduser{
  color:#090654;
  text-decoration: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.Dropzones{
  width: 100%;
  height: 30rem;
  background-color: black;
}
